- form_for @ad, :url => defined?(url) ? url : url_for(:action => :create, :tag_list => params[:tag_list]), :html => { :enctype => 'multipart/form-data' } do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  - if !params[:tag_list]
    %p
      = f.label :tag_list
      %br
      = f.select :tag_list, tags_options
  - else
    Розділ: 
    = h t(params[:tag_list])
  %p
    = f.label :content
    %br
    = f.text_area :content, :rows => 5
  %p
    = f.label :contacts
    %br
    = f.text_area :contacts, :rows => 5
  .fr
    = link_to_function "Додати ще одне поле для фотографії", "$('.photos').append($('.photo:first').clone().val('')).show()"
  .clear
  .photos
    = render :partial => 'photo', :collection => @ad.photos
  %p
    = f.submit "Зберегти оголошення"
