- stylesheet 'poll', 'link', 'ads'
- display_block = Proc.new do |item|
  - r = capture do
    .dashed.w
      =(item)
    .clear
  - r
- link_block = lambda do |text, count|
  - r = capture do
    .fl.w100
      = text
    .fr
      =count
  - r
.fr#poll
  .top
  .content
    %h4.p5p10 Категорії оголошень
    .h
    .hr
    .h
    .fl
      - for item in tags
        = link_to_unless_current link_block.call(t(item), items_count(Ad.count_by_tag(item))), { :action => :by_tag, :tag => item, :page => nil }, { :class => "link w" }, &display_block
    .h
    .hr
    .h
    = link_to_unless_current link_block.call('Всі оголошення', items_count(Ad.public_count)), { :action => :all, :page => nil }, { :class => 'link w' }, &display_block
    .h
    .hr
    .h
    = link_to_unless_current 'Пошук оголошень', { :action => :search }, { :class => 'link w' }, &display_block
    .h
    .hr
    .h
    - if !defined?(@tag)
      = link_to_unless_current 'Додати оголошення', { :action => :new }, { :class => 'link w' }, &display_block
    - else
      = link_to 'Додати оголошення в цьому розділі', { :action => :new, :tag_list => @tag }, :class => 'link w'
    .clear
  .bottom
