- title @title ? @title : ('Піщанські оголошення' + (params[:action] == 'all' ? '' : ' - ' + t(@tag)))
- content_for :head do
  %link{ :rel => 'stylesheet', :href => url_for(:controller => :articles, :action => :css ) }
.fl
  = surround_with_pagination_for @items do
    - if !@ads.empty?
      - for ad in @ads
        - content = capture do
          = h ad.title
          %br
          = simple_format truncate(h(ad.content))
        = render :partial => 'articles/item', :locals => { :item_url => ad, :content => content, :comments_count => my_count_comments_for(ad) }
        .clear
    - else
      Немає жодного оголошення в даній категорії
= render :partial => 'right'
