- title @ad.title

.fl.wcenter
  %h5 Оголошення:
  = simple_format h @ad.content
  - if @ad.photos.size
    - require_jquery
    - require_jquery_fancybox
    %h5 Фото
    - @ad.photos.each do |item|
      %div.w240{ :class => cycle('fl', 'fr') }
        = link_to image_tag(item.image.url(:half), :class =>  'image'), item.image.url(:full), :rel => 'fancy', :class => 'fancy'
    :javascript
      $(function(){
        $('.fancy').fancybox();
      });
    .clear
  %h5 Контакти:
  = simple_format h @ad.contacts

.fr
  - if is_admin
    .fr.h100.p5
      = link_to image_tag('/images/icons/add.png', :width => 50, :height => 50), new_ad_path, :class => 'tooltip fl', :title => 'Додати ще одне оголошення'
      = link_to image_tag('/images/icons/edit.png', :width => 50, :height => 50), edit_ad_path(@ad),  :class => 'tooltip fl', :title => 'Редагувати оголошення'
      = link_to image_tag('/images/icons/remove.png', :width => 50, :height => 50), { :action => :destroy, :id => @ad },  :class => 'tooltip fl', :title => 'Видалити оголошення', :confirm => 'Ви впевнені ?'
  .clear
  = render :partial => 'right'
