- title @ad.title

.fl.wcenter
  - if @owned_by_user
    Оголошення уже неактуальне ? 
    = link_to 'Видаліть його', :action => :destroy
  .clear
  %h5 Оголошення:
  = simple_format h @ad.content
  - if @ad.photos.size
    - require_jquery
    - require_jquery_fancybox
    - if !@ad.photos.empty?
      %h5 Фото
      - @ad.photos.each do |item|
        %div.w240{ :class => cycle('fl', 'fr') }
          = link_to image_tag(item.image.url(:half), :class =>  'image', :width => 240, :height => 240), item.image.url(:full), :rel => 'fancy', :class => 'fancy'
      :javascript
        $(function(){
          $('.fancy').fancybox();
        });
      .clear
  %h5 Контакти:
  = simple_format h @ad.contacts
  - if @ad.point && @ad.point.lat && @ad.point.lng
    %h5 Місце:
    - require_google_map_v2_scripts
    - set_js_option 'lat', @ad.point.lat
    - set_js_option 'lng', @ad.point.lng
    - javascript 'egeoxml', 'egeoxml_ext', 'ads_show'
    #mapContainer{ :style => 'width:482px;height:300px' }
  %br
  %h5 Коментарі
  %hr
  = comments_for @ad

.fr
  - if is_admin
    .fr.h100.p5
      = link_to image_tag('/images/icons/add.png', :width => 50, :height => 50), new_ad_path, :class => 'tooltip fl', :title => 'Додати ще одне оголошення'
      = link_to image_tag('/images/icons/edit.png', :width => 50, :height => 50), edit_ad_path(@ad),  :class => 'tooltip fl', :title => 'Редагувати оголошення'
      = link_to image_tag('/images/icons/remove.png', :width => 50, :height => 50), { :action => :destroy, :id => @ad },  :class => 'tooltip fl', :title => 'Видалити оголошення', :confirm => 'Ви впевнені ?'
  .clear
  = render :partial => 'right'
