- title 'Статті'
- content_for :head do
  %link{ :rel => 'stylesheet', :href => '/css' }
.clear
.fl
  - if !@articles.empty?
    - for article in @articles
      - content = capture do
        = article.title
        %br
        = simple_format truncate(article.content)
      = render :partial => 'item', :locals => { :item_url => article, :content => content }
      .clear
  - else
    - content = capture do
      Немає жодної статті
      - if is_admin
        , додати статтю
    = render :partial => 'item', :locals => { :item_url => is_admin ? new_article_path : articles_path, :content => content }

.fl{ :style => 'width: 180px;margin-left:10px;' }
  - if is_admin
    .fr.h100.p5
      = link_to image_tag('/images/icons/add.png', :width => 50, :height => 50), new_article_path, :id => 'add_image', :class => 'tooltip', :title => 'Додати статтю'
  %div
