- title 'Посилання'
- add_url = url_for( :controller => :links, :action => :add )
- stylesheet 'jqModal', 'link', 'links'
- require_jquery
- javascript 'jquery/jqModal', 'jquery/jquery.form', 'jquery/jquery.scrollTo', 'links'
.clear
.fl.wcenter
  - @links.each do |item|
    = link_to h([item.description, item.value].join ' - '), add_http(item.value), :target => '_blank', :class => 'link wc'
    .clear

  .cloud.center{ :align => 'center' }
    .cloud_outer
      .cloud_inner
        Є корисна ссилка пов'язана з ресурсом ?
        %br
        Є подібний ресурс і хочете обмінятись посиланнями ?
        %br
        Ви можете додати своє посилання в цей розділ
        %br
        = link_to_void 'Додати посилання', :class => 'jqm link'
      .just_for_ie
.fr
  = render :partial => '/poll'
  = render :partial => '/photo'
#addLink.jqmWindow{ :style => 'display:none' }
  %div{ :align => 'center' }
    %h2 Додати ссилку
    %form#jqmForm{ :action => add_url, :method => 'post', :enctype => 'multipart/form-data' }
      %table
        %tr
          %td{ :align => 'right' } Опис ссилки (<b>необов'язково</b>)
          %td= text_field 'link', 'description', :class => 'w200'
          %td.for_error{ :width => '180' }
        %tr
          %td{ :align => 'right' } Ссилка
          %td= text_field 'link', 'value', :class => 'w200'
          %td.for_error{ :width => '180' }
    %br
    = link_to_void 'Зберегти', :class => 'save link'
    = link_to_void 'Відмінити', :class => 'jqmClose link'
