- title 'Посилання'
- add_url = url_for( :controller => :links, :action => :add )
- require_jquery
- content_for :head do
  = stylesheet_link_tag 'jqModal', 'link'
  = javascript_include_tag 'jquery/jqModal', 'jquery/jquery.form', 'jquery/jquery.scrollTo'
  %style{ :type => 'text/css' }
    :sass
      h2
        margin: 0
      .w200
        width: 200px
      .cloud
        background-image: url(/images/cloud.png)
        width: 330px
        height: 260px
        background-color: white

      .cloud_outer
        display: table-cell
        vertical-align: middle
        width: 100%
        height: 260px
      .just_for_ie 
        display: none
        width: 1px
        margin-left: -1px
      * html
        .just_for_ie
          display: inline-block
          vertical-align: middle

        .cloud_inner
          display: inline-block
          vertical-align: middle
          width: 100%

        .just_for_ie
          height: 100%
          display: inline

        .cloud_inner
          display: inline
      .cloud_inner
        width: 250px
        color: white
        font-weight: bold
      .cloud_inner a
        color: white
.clear
.fl.wcenter
  - @links.each do |item|
    = link_to h([item.description, item.value].join ' - '), item.value, :target => '_blank', :class => 'link'
    .clear

  .cloud.center{ :align => 'center' }
    .cloud_outer
      .cloud_inner
        Є корисна ссилка пов'язана з ресурсом ?
        %br
        Є подібний ресурс і хочете обмінятись посиланнями ?
        %br
        Ви можете додати своє посилання в цей розділ
        %br
        = link_to_void 'Додати ссилку', :class => 'jqm link'
      .just_for_ie
.fr
  = render :partial => '/poll'

:javascript
  $(function(){
    $('#addLink').jqm({
      modal: true,
      trigger: '.jqm',
      onShow: function(el){
        $('.message').remove();
        $('.error').remove();
        el.w.show();
      }
    });
  });
#addLink.jqmWindow{ :style => 'display:none' }
  %div{ :align => 'center' }
    %h2 Додати ссилку
    %form#jqmForm{ :action => add_url, :method => 'post', :enctype => 'multipart/form-data' }
      %table
        %tr
          %td{ :align => 'right' } Опис ссилки (<b>необов'язково</b>)
          %td= text_field 'link', 'description', :class => 'w200'
          %td.for_error{ :width => '180' }
        %tr
          %td{ :align => 'right' } Ссилка
          %td= text_field 'link', 'value', :class => 'w200'
          %td.for_error{ :width => '180' }
    %br
    = link_to_void 'Зберегти', :class => 'save link'
    = link_to_void 'Відмінити', :class => 'jqmClose link'
:javascript
  (function(saveButton, form, url){
    $(saveButton).click(function(){
      var form = $(form);
      form.ajaxSubmit({
        type : 'POST',
        dataType : 'json',
        url : url,
        semantic: true,
        success : function(result){
          if(result.success){
            $('#addLink').jqmHide();
            $.scrollTo('body', {
              duration: 500, 
              onAfter: function(){
                $('.soria').prepend('<span class="message">Успішно додано, після перевірки адміністратором посилання потрапить на цю сторінку</span>');
                form.clearForm();
              }
            });
          }else{
            var errors = result;
            for (var i = 0; i < errors.length; i++) {
              $('#link_' + errors[i][0]).parent().siblings('.for_error').append(
                '<span class="error">' + errors[i][1] + '</span>'
              );
            };
          }
        },
        failure: function(){
          alert('Виникла помилка зв\'язку з сервером')
        },
        beforeSubmit : function(){
          $('.error').remove();
        }
      });
    });
  })('.save', '#jqmForm', '#{add_url}');
