- title 'Фотогалерея'
- add_url = url_for( :controller => :photos, :action => :add )
- require_jquery
- require_jquery_modal
- require_jquery_fancybox
- content_for :head do
  = stylesheet_link_tag 'link'
  = javascript_include_tag 'jquery/jquery.form', 'jquery/jquery.scrollTo'
  %style{ :type => 'text/css' }
    :sass
      .w100
        width: 100px
      .h100
        height: 100px
      .p5
        padding: 5px
.clear
- if is_admin
  .fr.h100.p5
    = link_to_void image_tag('/images/icons/add.png', :width => 50, :height => 50), :id => 'add_image', :class => 'tooltip', :title => 'Додати фото'
- if !@photos.empty?
  #photos
    = render :partial => 'list'
- else
  Немає фотографій

:javascript
  $(function(){
    $('.fancy').fancybox({ zoomSpeedChange: 100});
  });

:javascript
  $(function(){
    $('#addLink').jqm({
      modal: true,
      trigger: '#add_image',
      onShow: function(el){
        $('.message').remove();
        $('.error').remove();
        el.w.show();
      }
    });
  });

#addLink.jqmWindow{ :style => 'display:none' }
  %div{ :align => 'center' }
    %h2 Додати ссилку
    - form_for 'photo', :url => add_url, :html => { :multipart => true, :method => 'post', :id => 'jqmForm' } do
      %table
        %tr
          %td{ :align => 'right' } Заголовок
          %td= text_field 'photo', 'title', :class => 'w200'
          %td.for_error{ :width => '180' }
        %tr
          %td{ :align => 'right' } Файл
          %td= file_field 'photo', 'image', :class => 'w200', :size => 20
          %td.for_error{ :width => '180' }
    %br
    = link_to_void 'Зберегти', :class => 'save link'
    = link_to_void 'Відмінити', :class => 'jqmClose link'

:javascript
  (function(saveButton, form, url){
    var form = $(form);
    var ids = {
      title: '#photo_title',
      image_file_name: '#photo_image'
    };

    $(saveButton).click(function(){
      form.ajaxSubmit({
        type : 'POST',
        dataType : 'json',
        url : url,
        semantic: true,
        success : function(result){
          if(result.success){
            $('#addLink').jqmHide();
            $('#photos').load('#{url_for(:action => 'list')}');
            $.scrollTo('body', {
              duration: 500, 
              onAfter: function(){
                $('.soria').prepend('<span class="message">Успішно додано</span>');
                form.clearForm();
              }
            });
          }else{
            var errors = result;
            for (var i = 0; i < errors.length; i++) {
              $(ids[errors[i][0]]).parent().siblings('.for_error').append(
                '<span class="error">' + errors[i][1] + '</span>'
              );
            };
          }
        },
        failure: function(){
          alert('Виникла помилка зв\'язку з сервером')
        },
        beforeSubmit : function(){
          $('.error').remove();
        }
      });
    });
  })('.save', '#jqmForm', '#{add_url}');
