!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title=h yield(:title)
    
    %meta{ :name => "viewport", :content => "initial-scale=1.0, user-scalable=no" }

    - if PageInfo::page
      %meta{ :name => "keywords", :content => PageInfo::page.keywords }
      %meta{ :name => "description", :content => PageInfo::page.description }
    = stylesheet_link_tag 'global', 'menu', 'tooltip', 'link'
    - require_jquery
    = yield(:head) 
    = javascript_include_tag 'jquery/vtip'
  %body{ :topmargin => "0", :bgcolor => "#488EC2" }
    %table{ :cellspacing => "0", :border => "0", :align => "center", :height => "30", :cellpadding => "0", :width => "960" }
      %tr{ :height => "100" }
        %td{ :background => "/images/left.gif", :width => "17" }
          %p.sp
            \&nbsp;
        %td{ :background => "/images/grad.gif", :align => "left", :valign => "middle", :width => "915" }
          = link_to image_tag(logo_src, :style => " float:left;margin-left:20px;", :width => "200", :height => "115"), @host
          .fl
            %h1{ :style => 'white-space: inherit;width:490px' }
              =h yield(:title)
          = render :partial => '/user_info'
          - if is_admin
            .clear
            %div{ :style => "padding: 10px" }
              - if PageInfo::page
                - form_for PageInfo::page, :url => { :controller => :common, :action => :update_page_info, :id => PageInfo::page }, :method => :post do |f|
                  %table{ :width => '100%' }
                    %tr
                      %td
                        Page id
                      %td= PageInfo::page.page_id
                    %tr
                      %td= f.label :description
                      %td= f.text_field :description, :size => 70
                      %td{ :rowspan => 3, :width => 100 }= f.submit
                    %tr
                      %td= f.label :keywords
                      %td= f.text_field :keywords, :size => 70
            .clear
        %td{ :background => "/images/right.gif", :width => "17" }
          %p.sp
            \&nbsp;
      %tr{ :height => "25" }
        %td{ :background => "/images/left.gif", :width => "17" }
          %p.sp
            \&nbsp;
        %td{ :width => "915", :bgcolor => "#D7E5FA", :style => "padding:5px;" }
        %td{ :background => "/images/right.gif", :width => "17" }
          %p.sp
            \&nbsp;
      %tr{ :height => "25" }
        %td{ :background => "/images/left.gif", :width => "17" }
          %p.sp
            \&nbsp;
        %td{ :align => "center", :valign => "top", :width => "915", :bgcolor => "#FFFFFF" }
          %div
            = render :partial => '/main_menu'
            .fl.soria{ :style => 'padding:10px; 0px;z-index:10;border:1px solid white;width:682px;', :align => 'left' }
              - flash.each do |name, msg|
                %div{ :class => name }
                  =t(msg)
                .clear
              = yield
        %td{ :background => "/images/right.gif", :width => "17" }
          %p.sp
            \&nbsp;
      %tr{ :height => "25" }
        %td{ :background => "/images/left.gif", :width => "17" }
          %p.sp
            \&nbsp;
        %td{ :align => "right", :width => "915", :bgcolor => "#D7E5FA" }
          = file_contents('counter')
          дизайн зроблено Боврашом Дмитром.&nbsp;
        %td{ :background => "/images/right.gif", :width => "17" }
          %p.sp
            \&nbsp;
