!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title=h yield(:title)
    
    %meta{ :name => "viewport", :content => "initial-scale=1.0, user-scalable=no" }

    %meta{ :name => "keywords", :content => "#{yield :keywords}" }
    %meta{ :name => "description", :content => "#{yield :description}" }
    = stylesheet_link_tag 'global', 'menu', 'tooltip'
    - require_jquery
    = yield(:head) 
    = javascript_include_tag 'jquery/vtip'
  %body{ :topmargin => "0", :bgcolor => "#488EC2" }
    %table{ :cellspacing => "0", :border => "0", :align => "center", :height => "30", :cellpadding => "0", :width => "960" }
      %tr{ :height => "100" }
        %td{ :background => "/images/left.gif", :width => "17" }
          %p.sp
            \&nbsp;
        %td{ :background => "/images/grad.gif", :align => "left", :valign => "middle", :width => "915" }
          %img{ :src => "/images/gerb.jpg", :style => " float:left;margin-left:20px;" }
          .fl
            %h1
              =h yield(:title)
          = render :partial => '/user_info'
        %td{ :background => "/images/right.gif", :width => "17" }
          %p.sp
            \&nbsp;
      %tr{ :height => "25" }
        %td{ :background => "/images/left.gif", :width => "17" }
          %p.sp
            \&nbsp;
        %td{ :width => "915", :bgcolor => "#D7E5FA", :style => "padding:5px;" }
        %td{ :background => "/images/right.gif", :width => "17" }
          %p.sp
            \&nbsp;
      %tr{ :height => "25" }
        %td{ :background => "/images/left.gif", :width => "17" }
          %p.sp
            \&nbsp;
        %td{ :align => "center", :valign => "top", :width => "915", :bgcolor => "#FFFFFF" }
          %div
            %div#leftmenu.fl{ :style => 'padding:10px;0px;margin:0 0 0 8px;width: 181px;' }
              /
                begin menu table
              %a.button{ :href => @host }
                %span
                  Головна
              %br
              %a.button{ :href => forum_url }
                %span
                  Форум
              %br
              = link_to new_mark + '<span>Галерея</span>', { :controller => :photos, :action => :index }, :class => 'button tooltip', :title => 'Галерея оновилась'
              %br
              = link_to '<span>Статті</span>', { :controller => :articles, :action => :index }, :class => 'button', :title => 'Статті'
              %br
              = link_to new_mark + '<span>Посилання</span>', { :controller => :links, :action => :index }, :class => 'button tooltip', :title => 'Можна додати своє посилання'
              %br
              = link_to '<span>Погода</span>', { :controller => :weather, :action => :index }, :class => 'button'
              %br
              = link_to new_mark + '<span>Карта</span>', { :controller => :map, :action => :index }, :class => 'button tooltip', :title => 'На карту додано більшість вулиць'
              %br
            .fl.soria{ :style => 'padding:10px; 0px;z-index:10;border:1px solid white;width:682px;', :align => 'left' }
              - flash.each do |name, msg|
                %div{ :class => name }
                  =msg
              = yield
        %td{ :background => "/images/right.gif", :width => "17" }
          %p.sp
            \&nbsp;
      %tr{ :height => "25" }
        %td{ :background => "/images/left.gif", :width => "17" }
          %p.sp
            \&nbsp;
        %td{ :align => "right", :width => "915", :bgcolor => "#D7E5FA" }
          = file_contents('counter')
          дизайн зроблено Боврашом Дмитром.&nbsp;
        %td{ :background => "/images/right.gif", :width => "17" }
          %p.sp
            \&nbsp;
